<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>
            {%- block title -%}
                Bike Seoul
            {%- endblock -%}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src="{{ "https://openapi.map.naver.com/openapi/v3/maps.js?clientId={}".format(config.NAVER_CLIENT_ID) }}"></script>
    {% endblock %}
</head>
<body>
<header>
    <h1>
        <a href="{{ url_for('user.home') }}">Bike Seoul</a>
    </h1>
    <p>서울자전거 연계 서비스.</p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('station.list_stations') }}">대여소</a>
                {% if stations %}
                    (<a href="{{ url_for('station.random_station') }}">랜덤</a>)
                {% endif %}
            </li>
            <li>
                <form action="{{ url_for('user.search') }}" method="post">
                    <input type="text" name="query">
                    <input type="submit" value="검색">
                </form>
            </li>
        </ul>
    </nav>
</header>
<main>
    {% block main %}
    {% endblock %}
</main>
{% block trailing_javascript %}
{% endblock %}
</body>
</html>
