<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>
            {%- block title -%}
                Bike Seoul
            {%- endblock -%}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>
<body>
<header>
    <h1>
        <a href="{{ url_for('user.home') }}">Bike Seoul</a>
    </h1>
    <p>서울자전거 연계 서비스.</p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</header>
<main>
    {% block main %}
    {% endblock %}
</main>
</body>
</html>
