{% extends 'base.html' %}

{% block main %}
    <h2>주변 대여소</h2>
    <div id="map"></div>
{% endblock %}

{% block trailing_javascript %}
    <script>
        var stations = [
            {% for station in stations %}
                {
                    'name': '{{ station.name }}',
                    'longitude': {{ station.longitude }},
                    'latitude': {{ station.latitude }},
                    'url': '{{ url_for('station.station_detail', station_id=station.id) }}'
                },
            {% endfor %}
        ];
        var map = new naver.maps.Map('map');
        if (navigator.geolocation) {
            for (var station of stations) {
                var marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(station.latitude, station.longitude),
                    map: map,
                    title: station.name,
                    url: station.url,
                    clickable: true,
                });
                naver.maps.Event.addListener(marker, 'click', function() {
                    location = marker.url;
                })
            }
            navigator.geolocation.getCurrentPosition(function (position) {
                var location = new naver.maps.LatLng(position.coords.latitude, position.coords.longitude);
                map.setCenter(location);
            });
        }
    </script>
{% endblock %}
